body{
    margin: 0;
    padding: 0;
    background: url("back.jpeg") fixed no-repeat;
    background-size: cover;
}

.login-box{
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.login-box h1{
    display: block;
    float: left;
    font-size: 40px;
    border-bottom: 3px solid white;
    margin-bottom: 50px;
    padding: 12px 0;
}

.form_input{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid;
    border-radius: 10px;
}

.form_input input{
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 20px;
    width: 80%;
    margin: 1px 10px;
}

.form_input input::placeholder{
    color: rgb(134, 131, 131);
}

.submit-btn{
    width: 100%;
    background: none;
    font-size: 20px;
    padding: 5px;
    margin-top: 20px;
    color: white;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
}

.submit-btn:hover{
    color: #000000;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    transition: 0.5s;
}
