*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Times New Roman', Times, serif; */
}

body{
    background: #585c68;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}


.semi_Bold{
    font-weight: 500;
    font-size: 16px;
}

.resume{
    margin: 20px 100px 0px 100px;
    padding-top: 5px;
    background: #FFFFFF;
}
.border{
    margin: 20px 130px 0px 130px;
    border: 3px solid rgb(0, 120, 255);
    border-radius: 10px;
}

#title{
    background: rgb(0, 120, 255);
    margin: 20px 100px 0px 100px;
    font-size: 40px;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 20px;
}


#profile{
    background: rgb(0, 120, 255);
    margin: 20px 100px 0px 100px;
    padding: 20px 10px 20px 0px;
    border: 3px solid rgb(0, 120, 255);
    border-radius: 10px;
}
#profile_photo{
    float: left;
    margin-left: 20px;
    padding: 5px;
}
#profile_info{
    margin: 10px 0px 0px 170px;
}
#profile_info_para{
    font-size: 20px;
    font-family: serif;
    color: white;
    padding-top: 10px;
}
#profile_info_head{
    color: white;
}
#about_section{
    background: #FFFFFF;
    margin: 40px 100px 0px 100px;
    padding: 20px 10px 0px 0px;
    border-bottom: 2px solid rgb(0, 120, 255);
}
#project{
    background: #FFFFFF;
    margin: 20px 100px 0px 100px;
    padding: 20px 10px 0px 0px;
    border-bottom: 2px solid rgb(0, 120, 255);
}

#education{
    background: #FFFFFF;
    margin: 20px 100px 0px 100px;
    padding: 20px 10px 0px 0px;
}

h1{
    color: rgb(0, 70, 255);
}
#about_para{
    padding: 15px 0px 15px 0px;
    font-size: 20px;
    font-family: serif;
    color: rgb(0, 120, 255);
}

.project_title{
    padding: 5px 0px 15px 0px;
}
h2{
    color: rgb(0, 100, 255);
}

#project_title_para{
    padding: 3px 0px 15px 0px;
    font-size: 20px;
    font-family: serif;
    color: rgb(0, 120, 255);
}
#project_link{
    color:rgb(0, 100, 255);
    font-size: 20px;
}

#education_ul{
    padding: 20px 0px 15px 20px;
    font-size: 20px;
    font-family: serif;
    color: rgb(0, 120, 255);
}
h3{
    padding: 10px 0px 10px 0px ;
}
p{
    padding-bottom: 10px;
}   